// Internal
@import "./components/block-editor/style";
@import "./components/notices/style";
@import "./components/sidebar/style";

// In order to use mix-blend-mode, this element needs to have an explicitly set background-color
// We scope it to .wp-toolbar to be wp-admin only, to prevent bleed into other implementations
html.wp-toolbar {
	background: $white;
}

body.block-editor-page {
	@include wp-admin-reset( ".block-editor" );
}

.block-editor-playground {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: calc(100vh - 32px);
}

.block-editor-playground,
// The modals are shown outside the .block-editor-playground wrapper, they need these styles.
.components-modal__frame {
	@include reset;
}

.block-editor-block-breadcrumb {
  position: fixed;
  bottom: 0;
  z-index: 1;
  padding: 5px;
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #dddddd;
}
